<h1>This the Cake Form</h1>
<%= form_with scope: :cake, url: cakes_path, local: true do |form| %>
<p>	
	<%= form.label :title %>
	<%= form.text_field :title %>
</p>
<p>
	<%= form.label :text %>
	<%= form.label :>

</p>